html::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
}

html h1 {
  font-family: "Exo";
  font-weight: 900;
}

html h2 {
  font-family: "Exo";
  font-weight: 700;
}

html p {
  font-family: 'Roboto';
}

html li {
  list-style: none;
}

html a {
  font-family: 'Roboto', sans-serif;
  color: black;
}

html a:hover {
  text-decoration: none;
}

html .vert {
  color: #3ac47d;
}

html .bleu {
  color: #2955c8;
}

html .rouge {
  color: #d92550;
}

html .marker {
  background: url(../img/pinMap.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.6));
}

html .marker:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#header {
  height: 60px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

#header h1 {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
}

#header .menu_burger {
  margin-top: 20px;
}

#header .menu_burger:hover {
  color: #2955c8;
  cursor: pointer;
}

#header .mobile_menu {
  z-index: 999;
  display: none;
  background: white;
  text-align: left;
  position: absolute;
  top: 60px;
  right: 0;
  height: 100vh;
  width: 70px;
}

#header .mobile_menu a {
  margin-top: 15px;
  width: 70px;
  height: 70px;
  position: relative;
  display: inline-block;
}

#header .mobile_menu a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#header .mobile_menu a:hover.home_btn i {
  color: #2955c8;
}

#header .mobile_menu a:hover.rent_btn i {
  color: #3ac47d;
}

#header .mobile_menu a:hover.admin_btn i {
  color: #ffc107;
}

#header .mobile_menu a:hover.login_btn i, #header .mobile_menu a:hover.logout_btn i {
  color: #d92550;
}

#header .mobile_menu a:hover.contact_btn i {
  color: #16aaff;
}

#login {
  height: calc(100vh - 60px);
  background-color: #F0F3F5;
  position: relative;
}

#login .content_login {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  height: 650px;
  width: 1200px;
  border-radius: 30px;
}

#login .content_login .right_content {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 650px;
}

#login .content_login .right_content .img_register_container {
  vertical-align: middle;
}

#login .content_login .left_content {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: left;
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login .content_login .left_content .content_form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#login .content_login .left_content .content_form h3 {
  position: relative;
  font-family: "Exo";
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 40px;
  display: inline-block;
}

#login .content_login .left_content .content_form h3::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100px;
  height: 4px;
  background: #28a745;
}

#login .content_login .left_content .content_form form input {
  margin-bottom: 25px;
}

#login .content_login .left_content .content_form form .radio_btn {
  margin-bottom: 25px;
}

#login .content_login .left_content .content_form form .radio_btn .form-check {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

#login .content_login .left_content .content_form form .radio_btn .form-check:hover {
  cursor: pointer;
}

#login .content_login .left_content .content_form form .radio_btn .form-check input:hover {
  cursor: pointer;
}

#login .content_login .left_content .content_form form .radio_btn .form-check label {
  font-family: 'roboto';
  margin-right: 10px;
  margin-left: 10px;
}

#login .content_login .left_content .content_form form .radio_btn .form-check label:hover {
  cursor: pointer;
}

#login .content_login .left_content .content_form form .btn_sumbit {
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#login .content_login .left_content .content_form form .btn_sumbit:hover {
  background: transparent !important;
  color: rgba(0, 0, 0, 0.6);
}

#login .content_login .left_content .content_form .non_register a {
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
  font-size: 18px;
}

#login .content_login .left_content .content_form .non_register a:hover {
  cursor: pointer;
  color: #28a745;
}

#register {
  height: calc(100vh - 60px);
  background-color: #F0F3F5;
  position: relative;
}

#register .content_register {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  height: 650px;
  width: 1200px;
  border-radius: 30px;
}

#register .content_register .left_content {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 650px;
}

#register .content_register .left_content .img_register_container {
  vertical-align: middle;
}

#register .content_register .right_content {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#register .content_register .right_content .content_form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#register .content_register .right_content .content_form h3 {
  position: relative;
  font-family: "Exo";
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 40px;
  display: inline-block;
}

#register .content_register .right_content .content_form h3::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100px;
  height: 4px;
  background: #28a745;
}

#register .content_register .right_content .content_form form input {
  margin-bottom: 25px;
}

#register .content_register .right_content .content_form form .radio_btn {
  margin-bottom: 25px;
}

#register .content_register .right_content .content_form form .radio_btn .form-check {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

#register .content_register .right_content .content_form form .radio_btn .form-check:hover {
  cursor: pointer;
}

#register .content_register .right_content .content_form form .radio_btn .form-check input:hover {
  cursor: pointer;
}

#register .content_register .right_content .content_form form .radio_btn .form-check label {
  font-family: 'roboto';
  margin-right: 10px;
  margin-left: 10px;
}

#register .content_register .right_content .content_form form .radio_btn .form-check label:hover {
  cursor: pointer;
}

#register .content_register .right_content .content_form form .btn_sumbit {
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#register .content_register .right_content .content_form form .btn_sumbit:hover {
  background: transparent !important;
  color: rgba(0, 0, 0, 0.6);
}

#register .content_register .right_content .content_form .deja_inscrit a {
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
  font-size: 18px;
}

#register .content_register .right_content .content_form .deja_inscrit a:hover {
  cursor: pointer;
  color: #28a745;
}

#contact {
  height: calc(100vh - 60px);
  background-color: #F0F3F5;
  position: relative;
}

#contact .content_contact {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  height: 650px;
  width: 1200px;
  border-radius: 30px;
}

#contact .content_contact .left_content {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 650px;
}

#contact .content_contact .left_content .img_register_container {
  vertical-align: middle;
}

#contact .content_contact .right_content {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .content_contact .right_content .content_form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#contact .content_contact .right_content .content_form h3 {
  position: relative;
  font-family: "Exo";
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 40px;
  display: inline-block;
}

#contact .content_contact .right_content .content_form h3::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100px;
  height: 4px;
  background: #28a745;
}

#contact .content_contact .right_content .content_form form input {
  margin-bottom: 25px;
}

#contact .content_contact .right_content .content_form form textarea {
  min-height: 130px;
  margin-bottom: 25px;
}

#contact .content_contact .right_content .content_form form .btn_sumbit {
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#contact .content_contact .right_content .content_form form .btn_sumbit:hover {
  background: transparent !important;
  color: rgba(0, 0, 0, 0.6);
}

#contact .content_contact .right_content .content_form .non_register a {
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
  font-size: 18px;
}

#contact .content_contact .right_content .content_form .non_register a:hover {
  cursor: pointer;
  color: #28a745;
}

#back_pro {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
  background: #F0F3F5;
}

#back_pro h2 {
  font-size: 44px;
}

#back_pro .modif_btn, #back_pro .delete_btn {
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#back_pro .modif_btn:hover, #back_pro .delete_btn:hover {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

#back_pro .content_pro {
  margin-top: 100px;
}

#back_pro .content_pro .unit_rent {
  background: white;
  padding: 30px;
  border-radius: 25px;
  margin-bottom: 60px;
}

#back_pro .content_pro .unit_rent h3 {
  margin-bottom: 35px;
  position: relative;
}

#back_pro .content_pro .unit_rent h3::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 90px;
  height: 3px;
  background: #3984F3;
}

#back_pro .content_pro .unit_rent a {
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#back_pro .content_pro .unit_rent a:hover {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

#back_pro .content_pro .top {
  margin-top: 8px;
}

#edit_rent_pro {
  min-height: 100vh;
  background: #F0F3F5;
  position: relative;
}

#edit_rent_pro .modif_btn {
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#edit_rent_pro .modif_btn:hover {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

#edit_rent_pro .formulaire_modification {
  width: 1200px;
  height: 430px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  position: absolute;
  background: white;
  padding: 30px;
  border-radius: 25px;
}

#edit_rent_pro .formulaire_modification h3 {
  margin-bottom: 35px;
}

#edit_rent_pro .formulaire_modification input {
  margin-bottom: 25px;
}

#edit_rent_pro .formulaire_modification select {
  margin-bottom: 25px;
}

#backoffice {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F0F3F5;
}

#backoffice .admin_menu {
  min-height: 100vh;
  padding-top: 25px;
  height: 100%;
  background: white;
}

#backoffice .admin_menu i {
  margin-right: 10px;
}

#backoffice .admin_menu .administration {
  font-size: 22px;
  text-transform: uppercase;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#backoffice .admin_menu .administration:hover {
  cursor: pointer;
  color: #ffc107;
}

#backoffice .admin_menu .gestion {
  margin-top: 50px;
  margin-bottom: 25px;
}

#backoffice .admin_menu .validation {
  margin-bottom: 25px;
}

#backoffice .admin_menu .sub_cat {
  text-transform: uppercase;
  margin-bottom: 30px;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#backoffice .admin_menu .sub_cat:hover {
  cursor: pointer;
}

#backoffice .admin_menu .sub_cat:hover.btn_contact {
  color: #16aaff;
}

#backoffice .admin_menu .sub_cat:hover.btn_validation {
  color: #d92550;
}

#backoffice .admin_menu .sub_cat:hover.btn_gestion {
  color: #3ac47d;
}

#backoffice .admin_menu .sub_cat .dropdown_gestion, #backoffice .admin_menu .sub_cat .dropdown_validation {
  margin-left: 10px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: ease-in-out .4ss;
  transition: ease-in-out .4ss;
}

#backoffice .admin_menu .sub_cat .rotate_btn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#backoffice .admin_menu .content {
  display: none;
}

#backoffice .admin_menu .content .low_cat {
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 35px;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#backoffice .admin_menu .content .low_cat:hover {
  cursor: pointer;
}

#membre_liste {
  margin-top: 25px;
  margin-left: 20px;
}

#membre_liste .user {
  margin-bottom: 25px;
  border-radius: 15px;
  margin-left: 45px;
  background: white;
  min-height: 50px;
  margin-right: 300px;
}

#membre_liste .user h4 {
  margin-top: 8px;
  display: inline-block;
  margin-right: 10px;
  float: left;
}

#membre_liste .user p {
  margin-top: 13px;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 15px;
}

#membre_liste .user button {
  margin-top: 8px;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#membre_liste .user button:hover {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

#membre_liste .user button:focus {
  outline: none;
}

#membre_liste .user .list_num {
  padding-left: 20px;
}

#membre_liste .user .border_right {
  position: relative;
}

#membre_liste .user .border_right::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 15px;
  height: 30px;
  width: 2px;
  background: rgba(0, 0, 0, 0.1);
}

#rent_liste {
  margin-top: 25px;
  margin-left: 20px;
}

#rent_liste .rent {
  margin-bottom: 25px;
  border-radius: 15px;
  margin-left: 45px;
  background: white;
  min-height: 50px;
  margin-right: 300px;
}

#rent_liste .rent h4 {
  margin-top: 8px;
  display: inline-block;
  margin-right: 10px;
  float: left;
}

#rent_liste .rent p {
  margin-top: 13px;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 15px;
}

#rent_liste .rent button {
  margin-top: 8px;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
  font-weight: 700;
}

#rent_liste .rent button:hover {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

#rent_liste .rent button:focus {
  outline: none;
}

#rent_liste .rent .list_num {
  padding-left: 20px;
}

#rent_liste .rent .border_right {
  position: relative;
}

#rent_liste .rent .border_right::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 15px;
  height: 30px;
  width: 2px;
  background: rgba(0, 0, 0, 0.1);
}

#info_membre .information_user {
  background: white;
  margin-top: 100px;
  border-radius: 25px;
  padding: 30px;
}

#info_membre .information_user h3 {
  margin-bottom: 30px;
}

#info_membre .information_user h3 span {
  text-transform: capitalize;
}

#info_membre .information_user .form_change {
  margin-top: 20px;
}

#info_membre .information_user .form_change form {
  display: inline-block;
}

#info_membre .information_user .form_change .edit_form {
  margin-right: 20px;
}

#info_membre .information_user .btn-danger, #info_membre .information_user .btn-warning {
  -webkit-transition: ease-in-out 0.4s !important;
  transition: ease-in-out 0.4s !important;
}

#info_membre .information_user .btn-danger:hover, #info_membre .information_user .btn-warning:hover {
  background: transparent !important;
  color: rgba(0, 0, 0, 0.6);
}

#info_membre .formulaire_modification {
  background: white;
  margin-top: 100px;
  padding: 30px;
  border-radius: 25px;
}

#info_membre .formulaire_modification h3 {
  margin-bottom: 30px;
}

#info_membre .formulaire_modification h3 span {
  text-transform: capitalize;
}

#info_membre .formulaire_modification h4 {
  margin-bottom: 15px;
}

#info_membre .formulaire_modification input {
  margin-bottom: 25px;
}

#info_membre .formulaire_modification .form-check {
  display: inline-block;
  margin-left: 25px;
}

#info_membre .formulaire_modification .modif_btn {
  margin-bottom: 0;
  margin-top: 25px;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#info_membre .formulaire_modification .modif_btn:hover {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

#info_rent .information_rent {
  background: white;
  margin-top: 100px;
  border-radius: 25px;
  padding: 30px;
}

#info_rent .information_rent h3 {
  margin-bottom: 30px;
}

#info_rent .information_rent h3 span {
  text-transform: capitalize;
}

#info_rent .information_rent .form_change {
  margin-top: 20px;
}

#info_rent .information_rent .form_change form {
  display: inline-block;
}

#info_rent .information_rent .form_change .edit_form {
  margin-right: 20px;
}

#info_rent .information_rent .btn-danger, #info_rent .information_rent .btn-warning {
  -webkit-transition: ease-in-out 0.4s !important;
  transition: ease-in-out 0.4s !important;
}

#info_rent .information_rent .btn-danger:hover, #info_rent .information_rent .btn-warning:hover {
  background: transparent !important;
  color: rgba(0, 0, 0, 0.6);
}

#info_rent .formulaire_modification {
  background: white;
  margin-top: 100px;
  padding: 30px;
  border-radius: 25px;
}

#info_rent .formulaire_modification h3 {
  margin-bottom: 30px;
}

#info_rent .formulaire_modification h3 span {
  text-transform: capitalize;
}

#info_rent .formulaire_modification h4 {
  margin-bottom: 15px;
}

#info_rent .formulaire_modification input {
  margin-bottom: 25px;
}

#info_rent .formulaire_modification select {
  margin-bottom: 25px;
}

#info_rent .formulaire_modification .form-check {
  display: inline-block;
  margin-left: 25px;
}

#info_rent .formulaire_modification .modif_btn {
  margin-bottom: 0;
  margin-top: 25px;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#info_rent .formulaire_modification .modif_btn:hover {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

#add_member .formulaire_ajout {
  background: white;
  padding: 30px;
  margin-top: 100px;
  border-radius: 25px;
}

#add_member .formulaire_ajout h3 {
  margin-bottom: 30px;
}

#add_member .formulaire_ajout h3 span {
  text-transform: capitalize;
}

#add_member .formulaire_ajout h4 {
  margin-bottom: 15px;
}

#add_member .formulaire_ajout input {
  margin-bottom: 25px;
}

#add_member .formulaire_ajout .form-check {
  display: inline-block;
  margin-left: 25px;
}

#add_member .formulaire_ajout .modif_btn {
  margin-bottom: 0;
  margin-top: 25px;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#add_member .formulaire_ajout .modif_btn:hover {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

#add_rent .formulaire_ajout {
  background: white;
  padding: 30px;
  margin-top: 100px;
  border-radius: 25px;
}

#add_rent .formulaire_ajout h3 {
  margin-bottom: 30px;
}

#add_rent .formulaire_ajout h3 span {
  text-transform: capitalize;
}

#add_rent .formulaire_ajout h4 {
  margin-bottom: 15px;
}

#add_rent .formulaire_ajout input {
  margin-bottom: 25px;
}

#add_rent .formulaire_ajout select {
  margin-bottom: 25px;
}

#add_rent .formulaire_ajout .form-check {
  display: inline-block;
  margin-left: 25px;
}

#add_rent .formulaire_ajout .modif_btn {
  margin-bottom: 0;
  margin-top: 25px;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#add_rent .formulaire_ajout .modif_btn:hover {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

#valide_pro {
  margin-top: 25px;
  margin-left: 20px;
}

#valide_pro .user_pro {
  margin-bottom: 25px;
  border-radius: 15px;
  margin-left: 45px;
  background: white;
  min-height: 50px;
  margin-right: 300px;
}

#valide_pro .user_pro h4 {
  margin-top: 8px;
  display: inline-block;
  margin-right: 10px;
  float: left;
}

#valide_pro .user_pro p {
  margin-top: 13px;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 15px;
}

#valide_pro .user_pro button {
  margin-top: 8px;
}

#valide_pro .user_pro button:hover {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

#valide_pro .user_pro button:focus {
  outline: none;
}

#valide_pro .user_pro .list_num {
  padding-left: 20px;
}

#valide_pro .user_pro .border_right {
  position: relative;
}

#valide_pro .user_pro .border_right::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 15px;
  height: 30px;
  width: 2px;
  background: rgba(0, 0, 0, 0.1);
}

#valide_rent {
  margin-top: 25px;
  margin-left: 20px;
}

#valide_rent .rent_valid {
  margin-bottom: 25px;
  border-radius: 15px;
  margin-left: 45px;
  background: white;
  min-height: 50px;
  margin-right: 300px;
}

#valide_rent .rent_valid h4 {
  margin-top: 8px;
  display: inline-block;
  margin-right: 10px;
  float: left;
}

#valide_rent .rent_valid p {
  margin-top: 13px;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 15px;
}

#valide_rent .rent_valid button {
  margin-top: 8px;
}

#valide_rent .rent_valid button:hover {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

#valide_rent .rent_valid button:focus {
  outline: none;
}

#valide_rent .rent_valid button .list_num {
  padding-left: 20px;
}

#valide_rent .rent_valid .border_right {
  position: relative;
}

#valide_rent .rent_valid .border_right::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 15px;
  height: 30px;
  width: 2px;
  background: rgba(0, 0, 0, 0.1);
}

#msg_admin {
  margin-top: 25px;
  margin-left: 20px;
}

#msg_admin h2 {
  margin-bottom: 50px;
}

#msg_admin .msg {
  margin-bottom: 25px;
  border-radius: 15px;
  margin-left: 45px;
  background: white;
  -webkit-box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.07);
          box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.07);
  padding: 20px;
}

#msg_admin .msg .paragraphe {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 25px;
}

#msg_admin .msg .nom, #msg_admin .msg .email {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 8px;
}

#msg_admin .msg a {
  margin-bottom: 20px;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#msg_admin .msg a:hover {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

#home #landing {
  height: calc(100vh - 60px);
}

#home #landing .content_left {
  position: relative;
  display: inline-block;
  float: left;
  width: 50%;
  height: 100%;
}

#home #landing .content_left h1 {
  position: relative;
  font-size: 3.7rem;
  line-height: 1.4em;
  margin-bottom: 50px;
}

#home #landing .content_left h1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -25px;
  height: 4px;
  width: 225px;
  background: #3984F3;
}

#home #landing .content_left p {
  font-size: 1.3rem;
  margin-bottom: 50px;
}

#home #landing .content_left a {
  color: white;
  padding: 9px 16px 10px 16px;
  background: #3984F3;
  border: 1px solid #3984F3;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#home #landing .content_left a:hover {
  color: black;
  background: transparent;
}

#home #landing .content_left .main_content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30%;
}

#home #landing .content_right {
  float: right;
  width: 50%;
  height: 100%;
  background: url(../img/hero.png) right no-repeat;
  background-size: 80%;
}

#home #discovery {
  height: 75vh;
}

#home #discovery .content_left {
  padding-top: 160px;
  padding-left: 7%;
  height: 100%;
  width: 65%;
  position: relative;
  display: inline-block;
  float: left;
}

#home #discovery .content_left .img_content {
  position: relative;
  width: 300px;
  height: 400px;
  margin-right: 45px;
  display: inline-block;
  float: left;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}

#home #discovery .content_left .img_content.train_jaune {
  background: url(../img/petit-train-jaune.jpg);
  background-size: contain;
}

#home #discovery .content_left .img_content.village {
  background: url(../img/village.jpg);
  background-size: contain;
}

#home #discovery .content_left .img_content.collioure {
  background: url(../img/collioure.jpg);
  background-size: contain;
}

#home #discovery .content_left .img_content:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#home #discovery .content_left .img_content span {
  position: absolute;
  left: 25px;
  bottom: 15px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

#home #discovery .content_right {
  height: 100%;
  width: 35%;
  position: relative;
  display: inline-block;
  float: left;
}

#home #discovery .content_right .main_content {
  margin-right: 80px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
}

#home #discovery .content_right .main_content h2 {
  position: relative;
  display: inline-block;
  font-size: 45px;
  margin-bottom: 50px;
}

#home #discovery .content_right .main_content h2::after {
  content: '';
  position: absolute;
  left: 0;
  width: 110px;
  bottom: -30px;
  height: 3px;
  background: #3984F3;
}

#home #discovery .content_right .main_content p {
  font-size: 1.3rem;
  margin-bottom: 40px;
}

#home #discovery .content_right .main_content a {
  color: white;
  padding: 9px 16px 10px 16px;
  background: #3984F3;
  border: 1px solid #3984F3;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#home #discovery .content_right .main_content a:hover {
  color: black;
  background: transparent;
}

#home #map {
  text-align: center;
  height: 100vh;
}

#home #map h2 {
  display: inline-block;
  position: relative;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 155px;
  margin-top: 75px;
}

#home #map h2:after {
  content: '';
  position: absolute;
  left: 0;
  width: 160px;
  height: 4px;
  bottom: -25px;
  background: #3984F3;
}

#home #map #map_container {
  width: 100%;
  height: 600px;
}

#home #map #map_container .mapboxgl-canvas:focus {
  outline: none !important;
}

#home #map #map_container .mapboxgl-popup-content {
  padding-top: 25px !important;
  border-radius: 15px !important;
}

#home #map #map_container .mapboxgl-popup-content::before {
  content: '';
  position: absolute;
  top: -40px;
  width: 60px;
  height: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../img/iconLocation.png);
}

#home #map #map_container .mapboxgl-popup-content h3 {
  font-size: 25px !important;
}

#home #map #map_container .mapboxgl-popup-content a:focus {
  outline: none;
}

#home #map #map_container .mapboxgl-popup-content .mapboxgl-popup-close-button {
  color: red !important;
  font-size: 25px !important;
}

#footer .footer_menu {
  margin-top: 35px;
  text-align: center;
}

#footer .footer_menu ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

#footer .footer_menu ul li a {
  position: relative;
  font-size: 20px;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#footer .footer_menu ul li a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -10;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #3984F3;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#footer .footer_menu ul li a:hover {
  color: black;
}

#footer .footer_menu ul li a:hover::after {
  width: 100%;
  left: 0;
}

#footer .copyright {
  text-align: center;
}

#footer .copyright p {
  font-size: 18px;
  font-family: "Exo";
}

#footer .copyright p span {
  font-weight: 700;
}

#footer .socials {
  margin-top: 35px;
  padding-bottom: 25px;
  text-align: center;
}

#footer .socials ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

#footer .socials ul li a i {
  font-size: 25px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

#footer .socials ul li a.facebook {
  color: #3b5998;
}

#footer .socials ul li a.instagram {
  color: #C13584;
}

#footer .socials ul li a.twitter {
  color: #1DA1F2;
}

#footer .socials ul li a:hover i {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

#list_location_front {
  min-height: 100vh;
  background: #F0F3F5;
}

#list_location_front h2 {
  padding-top: 65px;
  padding-bottom: 30px;
  font-size: 50px;
  font-family: "Exo";
  position: relative;
  display: inline-block;
}

#list_location_front h2::after {
  position: absolute;
  content: '';
  bottom: 15px;
  left: 0;
  width: 250px;
  height: 5px;
  background: #3984F3;
}

#list_location_front .content {
  padding-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#list_location_front .content .card {
  margin-top: 130px;
  max-width: 350px;
  border: white;
  border-radius: 25px;
}

#list_location_front .content .card .img_container {
  width: 140px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#list_location_front .content .card .img_container img {
  width: 100%;
  position: absolute;
  top: -80px;
}

#detail_location {
  min-height: 100vh;
  background: #F0F3F5;
}

#detail_location .container {
  padding-top: 150px;
}

#detail_location .container .content {
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 25px;
}

#detail_location .container .content h2 {
  margin-bottom: 35px;
}

#detail_location .container .content a {
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
  margin-left: 15px;
  margin-top: 15px;
}

#detail_location .container .content a:hover {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

#detail_location .container .content .img_content {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -30px;
  right: -65px;
}
/*# sourceMappingURL=style.css.map */