// VARIABLES

$blue: #2955c8;
$green: #3ac47d;
$red: #d92550;
$yellow: #ffc107;
$lightBlue: #16aaff;
$darkBlue: #091E40;
$turboBlue: #3984F3;

$exo : 'Exo';

html::-webkit-scrollbar {
    display: none;
}

html{
    overflow-x: hidden;
    h1{
        font-family: $exo;
        font-weight: 900;
    }
    h2{
        font-family: $exo;
        font-weight: 700;
    }
    p{
        font-family: 'Roboto';
    }
    li{
        list-style: none;
    }
    a{
        font-family: 'Roboto', sans-serif;
        color: black;
        &:hover{
            text-decoration: none;
        }
    }
    // COLOR
    .vert{
        color: #3ac47d;
    }
    .bleu{
        color: #2955c8;
    }
    .rouge{
        color: #d92550;
    }
    .marker{
       background: url(../img/pinMap.png);
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transform: scale(1);
        filter: drop-shadow(4px 4px 7px rgba(0,0,0,.6));
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}

// HEADER

#header{
    height: 60px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.10);
    -webkit-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.10);
    h1{
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 20px;
    }
    .menu_burger{
        margin-top: 20px;
        &:hover{
            color: $blue;
            cursor: pointer;
        }
    }
    .mobile_menu{
        z-index: 999;
        display: none;
        background:white;
        text-align: left;
        position: absolute;
        top: 60px;
        right: 0;
        height: 100vh;
        width: 70px;
        a{
            margin-top: 15px;
            width: 70px;
            height: 70px;
            position: relative;
            display: inline-block;
            i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: rgba($color: #000000, $alpha: .6);
                transition: ease-in-out .4s;
            }
            &:hover{
                &.home_btn{
                    i{
                        color: $blue;
                    }
                }
                &.rent_btn{
                    i{
                        color: $green;
                    }
                }
                &.admin_btn{
                    i{
                        color: $yellow;
                    }
                }
                &.login_btn, &.logout_btn{
                    i{
                        color: $red;
                    }
                }
                &.contact_btn{
                    i{
                        color: $lightBlue;
                    }
                }
            }
        }
    }
}

// LOGIN
#login{
    height: calc(100vh - 60px);
    background-color: #F0F3F5;
    position: relative;
    .content_login{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        height: 650px;
        width: 1200px;
        border-radius: 30px;
        .right_content{
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 650px;
            .img_register_container{
                vertical-align: middle;
            }
        }
        .left_content{
            position: relative;
            display: inline-flex;
            float: left;
            width: 50%;
            height: 100%;
            justify-content: center;
            .content_form{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 60%;
                transform: translate(-50%, -50%);
                text-align: center;
                h3{
                    position: relative;
                    font-family: $exo;
                    font-weight: 700;
                    font-size: 35px;
                    margin-bottom: 40px;
                    display: inline-block;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        width: 100px;
                        height: 4px;
                        background: #28a745;
                    }
                }
                form{
                    input{
                        margin-bottom: 25px;
                    }
                    .radio_btn{
                        margin-bottom: 25px;
                       .form-check{
                           display: inline-block;
                           margin-right: 10px;
                           margin-left: 10px;
                           &:hover{
                            cursor: pointer;
                            }
                            input{
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                            label{
                                font-family: 'roboto';
                                margin-right: 10px;
                                margin-left: 10px;
                                &:hover{
                                cursor: pointer;
                            }
                           }
                       }
                    }
                    .btn_sumbit{
                        transition: ease-in-out .4s;
                        &:hover{
                            background: transparent!important;
                            color: rgba($color: #000000, $alpha: .6);
                        }
                    }
                }
                .non_register{
                    a{
                        transition: ease-in-out .4s;
                        font-size: 18px;
                        &:hover{
                            cursor: pointer;
                            color: #28a745;
                        }
                    }
                }
            }
        }
    }
}

// REGISTER
#register{
    height: calc(100vh - 60px);
    background-color: #F0F3F5;
    position: relative;
    .content_register{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        height: 650px;
        width: 1200px;
        border-radius: 30px;
        .left_content{
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 650px;
            .img_register_container{
                vertical-align: middle;
            }
        }
        .right_content{
            position: relative;
            display: inline-flex;
            float: right;
            width: 50%;
            height: 100%;
            justify-content: center;
            .content_form{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 60%;
                transform: translate(-50%, -50%);
                text-align: center;
                h3{
                    position: relative;
                    font-family: $exo;
                    font-weight: 700;
                    font-size: 35px;
                    margin-bottom: 40px;
                    display: inline-block;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        width: 100px;
                        height: 4px;
                        background: #28a745;
                    }
                }
                form{
                    input{
                        margin-bottom: 25px;
                    }
                    .radio_btn{
                        margin-bottom: 25px;
                       .form-check{
                           display: inline-block;
                           margin-right: 10px;
                           margin-left: 10px;
                           &:hover{
                            cursor: pointer;
                            }
                            input{
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                            label{
                                font-family: 'roboto';
                                margin-right: 10px;
                                margin-left: 10px;
                                &:hover{
                                cursor: pointer;
                            }
                           }
                       }
                    }
                    .btn_sumbit{
                        transition: ease-in-out .4s;
                        &:hover{
                            background: transparent!important;
                            color: rgba($color: #000000, $alpha: .6);
                        }
                    }
                }
                .deja_inscrit{
                    a{
                        transition: ease-in-out .4s;
                        font-size: 18px;
                        &:hover{
                            cursor: pointer;
                            color: #28a745;
                        }
                    }
                }
            }
        }
    }
}

// CONTACT
#contact{
    height: calc(100vh - 60px);
    background-color: #F0F3F5;
    position: relative;
    .content_contact{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        height: 650px;
        width: 1200px;
        border-radius: 30px;
        .left_content{
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 650px;
            .img_register_container{
                vertical-align: middle;
            }
        }
        .right_content{
            position: relative;
            display: inline-flex;
            float: right;
            width: 50%;
            height: 100%;
            justify-content: center;
            .content_form{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 60%;
                transform: translate(-50%, -50%);
                text-align: center;
                h3{
                    position: relative;
                    font-family: $exo;
                    font-weight: 700;
                    font-size: 35px;
                    margin-bottom: 40px;
                    display: inline-block;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        width: 100px;
                        height: 4px;
                        background: #28a745;
                    }
                }
                form{
                    input{
                        margin-bottom: 25px;
                    }
                    textarea{
                        min-height: 130px;
                        margin-bottom: 25px;
                    }
                    .btn_sumbit{
                        transition: ease-in-out .4s;
                        &:hover{
                            background: transparent!important;
                            color: rgba($color: #000000, $alpha: .6);
                        }
                    }
                }
                .non_register{
                    a{
                        transition: ease-in-out .4s;
                        font-size: 18px;
                        &:hover{
                            cursor: pointer;
                            color: #28a745;
                        }
                    }
                }
            }
        }
    }
}

// BACK PRO
#back_pro{
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
    background: #F0F3F5;
    h2{
        font-size: 44px;
    }
    .modif_btn, .delete_btn{
        transition: ease-in-out .4s;
        &:hover{
            background: transparent;
            color: rgba($color: #000000, $alpha: .6);
        }
    }
    .content_pro{
        margin-top: 100px;
        .unit_rent{
            background: white;
            padding: 30px;
            border-radius: 25px;
            margin-bottom: 60px;
            h3{
                margin-bottom: 35px;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 90px;
                    height: 3px;
                    background: $turboBlue;
                }
            }
            a{
                transition: ease-in-out .4s;
                &:hover{
                    background: transparent;
                    color: rgba($color: #000000, $alpha: .6);
                }
            }
        }
        .top{
            margin-top: 8px;
        }
    }
}

// MODIF RENT PRO
#edit_rent_pro{
    min-height: 100vh;
    background: #F0F3F5;
    position: relative;
    .modif_btn{
        transition: ease-in-out .4s;
        &:hover{
            background: transparent;
            color: rgba($color: #000000, $alpha: .6);
        }
    }
    .formulaire_modification{
        width: 1200px;
        height: 430px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        position: absolute;
        background: white;
        padding: 30px;
        border-radius: 25px;
        h3{
            margin-bottom: 35px;
        }
        input{
            margin-bottom: 25px;
        }
        select{
            margin-bottom: 25px;
        }
    }
}

// ADMIN
#backoffice{
    min-height: 100vh;
    display: flex;
    background: #F0F3F5;
    .admin_menu{
        min-height: 100vh;
        padding-top: 25px;
        height: 100%;
        background: white;
        i{
            margin-right: 10px;
        }
        .administration{
            font-size: 22px;
            text-transform: uppercase;
            transition: ease-in-out .4s; 
            &:hover{
                cursor: pointer;
                color: $yellow; 
            }
        }
        .gestion{
            margin-top: 50px;
            margin-bottom: 25px;
        }
        .validation{
            margin-bottom: 25px;
        }
        .sub_cat{
            text-transform: uppercase;
            margin-bottom: 30px;
            transition: ease-in-out .4s; 
            &:hover{
                cursor: pointer;
                &.btn_contact{
                    color: $lightBlue;
                }
                &.btn_validation{
                    color: #d92550;
                }
                &.btn_gestion{
                    color: #3ac47d;
                }
               
            }
            .dropdown_gestion, .dropdown_validation {
                margin-left: 10px;
                transform: rotate(0deg);
                transition: ease-in-out .4ss;
            }
            .rotate_btn{
                transform: rotate(180deg);
            }
        }
        .content{
            display: none;
            .low_cat{
                color: rgba($color: #000000, $alpha: .6);
                display: inline-block;
                border-radius: 30px;
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: 35px;
                transition: ease-in-out .4s; 
                &:hover{
                    cursor: pointer;
                }
            } 
        }  
    }
}

// LISTE MEMBRE
#membre_liste{
    margin-top: 25px;
    margin-left: 20px;
    .user{
        margin-bottom: 25px;
        border-radius: 15px;
        margin-left: 45px;
        background: white;
        min-height: 50px;
        margin-right: 300px;
        h4{
            margin-top: 8px;
            display: inline-block;
            margin-right: 10px;
            float: left;
        }
        p{
            margin-top: 13px;
            display: inline-block;
            margin-bottom: 0;
            margin-right: 15px;
        } 
        button{
            margin-top: 8px;
            transition: ease-in-out .4s;
            &:hover{
                background: transparent;
                color: rgba($color: #000000, $alpha: .6);
            }
            &:focus{
                outline: none;
            }
        }
        .list_num{
            padding-left: 20px;
        }
        .border_right{
          position: relative;
          &::after{
              content: '';
              position: absolute;
              top: 10px;
              right: 15px;
              height: 30px;
              width: 2px;
              background: rgba($color: #000000, $alpha: .1);
          }
        }
    }
}

// LISTE RENT
#rent_liste{
    margin-top: 25px;
    margin-left: 20px;
    .rent{
        margin-bottom: 25px;
        border-radius: 15px;
        margin-left: 45px;
        background: white;
        min-height: 50px;
        margin-right: 300px;
        h4{
            margin-top: 8px;
            display: inline-block;
            margin-right: 10px;
            float: left;
        }
        p{
            margin-top: 13px;
            display: inline-block;
            margin-bottom: 0;
            margin-right: 15px;
        } 
        button{
            margin-top: 8px;
            transition: ease-in-out .4s;
            font-weight: 700;
            &:hover{
                background: transparent;
                color: rgba($color: #000000, $alpha: .6);
            }
            &:focus{
                outline: none;
            }
        }
        .list_num{
            padding-left: 20px;
        }
        .border_right{
          position: relative;
          &::after{
              content: '';
              position: absolute;
              top: 10px;
              right: 15px;
              height: 30px;
              width: 2px;
              background: rgba($color: #000000, $alpha: .1);
          }
        }
    }
}

// INFO MEMBRE
#info_membre{
    .information_user{
        background: white;
        margin-top: 100px;
        border-radius: 25px;
        padding: 30px;
        h3{
            margin-bottom: 30px;
            span{
                text-transform: capitalize;
            }
        }
        .form_change{
            margin-top: 20px;
            form{
                display: inline-block;
            }
            .edit_form{
                margin-right: 20px;
            }
        }
        .btn-danger, .btn-warning{
            transition: ease-in-out .4s!important;
            &:hover{
                background: transparent!important;
                color: rgba($color: #000000, $alpha: .6);
            }
        }
    }
    .formulaire_modification{
        // display: none;
        background: white;
        margin-top: 100px;
        padding: 30px;
        border-radius: 25px;
        h3{
            margin-bottom: 30px;
            span{
                text-transform: capitalize;
            }
        }
        h4{
            margin-bottom: 15px;
        }
        input{
            margin-bottom: 25px;
        }
        .form-check{
            display: inline-block;
            margin-left: 25px;
        }
        .modif_btn{
            margin-bottom: 0;
            margin-top: 25px;
            transition: ease-in-out .4s;
            &:hover{
                background: transparent;
                color: rgba($color: #000000, $alpha: .6);
            }
        }
    }
}

// INFO RENT
#info_rent{
    .information_rent{
        background: white;
        margin-top: 100px;
        border-radius: 25px;
        padding: 30px;
        h3{
            margin-bottom: 30px;
            span{
                text-transform: capitalize;
            }
        }
        .form_change{
            margin-top: 20px;
            form{
                display: inline-block;
            }
            .edit_form{
                margin-right: 20px;
            }
        }
        .btn-danger, .btn-warning{
            transition: ease-in-out .4s!important;
            &:hover{
                background: transparent!important;
                color: rgba($color: #000000, $alpha: .6);
            }
        }
    }
    .formulaire_modification{
        // display: none;
        background: white;
        margin-top: 100px;
        padding: 30px;
        border-radius: 25px;
        h3{
            margin-bottom: 30px;
            span{
                text-transform: capitalize;
            }
        }
        h4{
            margin-bottom: 15px;
        }
        input{
            margin-bottom: 25px;
        }
        select{
            margin-bottom: 25px;
        }
        .form-check{
            display: inline-block;
            margin-left: 25px;
        }
        .modif_btn{
            margin-bottom: 0;
            margin-top: 25px;
            transition: ease-in-out .4s;
            &:hover{
                background: transparent;
                color: rgba($color: #000000, $alpha: .6);
            }
        }
    }
}

// ADD MEMBER
#add_member{
    .formulaire_ajout{
        background: white;
        padding: 30px;
        margin-top: 100px;
        border-radius: 25px;
        h3{
            margin-bottom: 30px;
            span{
                text-transform: capitalize;
            }
        }
        h4{
            margin-bottom: 15px;
        }
        input{
            margin-bottom: 25px;
        }
        .form-check{
            display: inline-block;
            margin-left: 25px;
        }
        .modif_btn{
            margin-bottom: 0;
            margin-top: 25px;
            transition: ease-in-out .4s;
            &:hover{
                background: transparent;
                color: rgba($color: #000000, $alpha: .6);
            }
        }
    }
}

// ADD RENT
#add_rent{
    .formulaire_ajout{
        background: white;
        padding: 30px;
        margin-top: 100px;
        border-radius: 25px;
        h3{
            margin-bottom: 30px;
            span{
                text-transform: capitalize;
            }
        }
        h4{
            margin-bottom: 15px;
        }
        input{
            margin-bottom: 25px;
        }
        select{
            margin-bottom: 25px;
        }
        .form-check{
            display: inline-block;
            margin-left: 25px;
        }
        .modif_btn{
            margin-bottom: 0;
            margin-top: 25px;
            transition: ease-in-out .4s;
            &:hover{
                background: transparent;
                color: rgba($color: #000000, $alpha: .6);
            }
        }
    }
}

// VALIDATE PRO
#valide_pro{
    margin-top: 25px;
    margin-left: 20px;
    .user_pro{
        margin-bottom: 25px;
        border-radius: 15px;
        margin-left: 45px;
        background: white;
        min-height: 50px;
        margin-right: 300px;
            h4{
                margin-top: 8px;
                display: inline-block;
                margin-right: 10px;
                float: left;
            }
            p{
                margin-top: 13px;
                display: inline-block;
                margin-bottom: 0;
                margin-right: 15px;
            } 
            button{
                margin-top: 8px;
                &:hover{
                    background: transparent;
                    color: rgba($color: #000000, $alpha: .6);
                }
                &:focus{
                    outline: none;
                }
            }
            .list_num{
                padding-left: 20px;
            }
            .border_right{
              position: relative;
              &::after{
                  content: '';
                  position: absolute;
                  top: 10px;
                  right: 15px;
                  height: 30px;
                  width: 2px;
                  background: rgba($color: #000000, $alpha: .1);
            }
        }
    }
}

//VALIDATE RENT
#valide_rent{
    margin-top: 25px;
    margin-left: 20px;
    .rent_valid{
        margin-bottom: 25px;
        border-radius: 15px;
        margin-left: 45px;
        background: white;
        min-height: 50px;
        margin-right: 300px;
        h4{
            margin-top: 8px;
            display: inline-block;
            margin-right: 10px;
            float: left;
        }
        p{
            margin-top: 13px;
            display: inline-block;
            margin-bottom: 0;
            margin-right: 15px;
        } 
        button{
            margin-top: 8px;
            &:hover{
                background: transparent;
                color: rgba($color: #000000, $alpha: .6);
            }
            &:focus{
                outline: none;
            }
            .list_num{
                padding-left: 20px;
            }
        }
        .border_right{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                top: 10px;
                right: 15px;
                height: 30px;
                width: 2px;
                background: rgba($color: #000000, $alpha: .1);
          }
      }
    }
}

// CONTACT ADMIN
#msg_admin{
    margin-top: 25px;
    margin-left: 20px;
    h2{
        margin-bottom: 50px;
    }
    .msg{
        margin-bottom: 25px;
        border-radius: 15px;
        margin-left: 45px;
        background: white;
        box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.07);
        padding: 20px;
        .paragraphe{
            border-top: 1px solid rgba($color: #000000, $alpha: .1);
            padding-top: 25px;
        }
        .nom, .email{
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 8px;
        }
        a{
            margin-bottom: 20px;
            transition: ease-in-out .4s;
            &:hover{
                background: transparent;
                color: rgba($color: #000000, $alpha: .6);
            }
        }
    }
}

// HOME
#home{
    #landing{
        height: calc(100vh - 60px);
        .content_left{
            position: relative;
            display: inline-block;
            float: left;
            width: 50%;
            height: 100%;
            h1{
                position: relative;
                font-size: 3.7rem;
                line-height: 1.4em;
                margin-bottom: 50px;
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -25px;
                    height: 4px;
                    width: 225px;
                    background: $turboBlue;
                }
            }
            p{
                font-size: 1.3rem;
                margin-bottom: 50px;
            }
            a{
                color: white;
                padding: 9px 16px 10px 16px;
                background: $turboBlue;
                border: 1px solid $turboBlue;
                transition: ease-in-out .4s;
                &:hover{
                    color: black;
                    background: transparent;
                }
            }
            .main_content{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 30%;
            }
        }
        .content_right{
            float: right;
            width: 50%;
            height: 100%;
            background: url(../img/hero.png) right no-repeat;
            background-size: 80%;
        }
    }
    #discovery{
        height: 75vh;
        .content_left{
            padding-top: 160px;
            padding-left: 7%;
            height: 100%;
            width: 65%;
            position: relative;
            display: inline-block;
            float: left;
            .img_content{
                position: relative;
                width: 300px;
                height: 400px;
                margin-right: 45px;
                display: inline-block;
                float: left;
                transition: ease-in-out .4s;
                transform: scale(1);
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                border-radius: 25px;
                &.train_jaune{
                    background: url(../img/petit-train-jaune.jpg);
                    background-size: contain;
                }
                &.village{
                    background: url(../img/village.jpg);
                    background-size: contain;
                }
                &.collioure{
                    background: url(../img/collioure.jpg);
                    background-size: contain;
                }
                &:hover{
                    transform: scale(1.1);
                }
                span{
                    position: absolute;
                    left: 25px;
                    bottom: 15px;
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
        .content_right{
            height: 100%;
            width: 35%;
            position: relative;
            display: inline-block;
            float: left;  
            .main_content{
                margin-right: 80px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 15px;
                h2{
                    position: relative;
                    display: inline-block;
                    font-size: 45px;
                    margin-bottom: 50px;
                    &::after{
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 110px;
                        bottom: -30px;
                        height: 3px;
                        background: $turboBlue;
                    }
                }
                p{
                    font-size: 1.3rem;
                    margin-bottom: 40px;
                }
                a{
                    color: white;
                    padding: 9px 16px 10px 16px;
                    background: $turboBlue;
                    border: 1px solid $turboBlue;
                    transition: ease-in-out .4s;
                    &:hover{
                        color: black;
                        background: transparent;
                    }
                }
            }
            
        }
    }
    #map{
        text-align: center;
        height: 100vh;
        h2{
            display: inline-block;
            position: relative;
            font-size: 45px;
            font-weight: 700;
            margin-bottom: 155px;
            margin-top: 75px;
            &:after{
                content: '';
                position: absolute;
                left: 0;
                width: 160px;
                height: 4px;
                bottom: -25px;
                background: $turboBlue;
            }
        }
        #map_container{
            width: 100%;
            height: 600px;
            .mapboxgl-canvas{
                &:focus{
                    outline: none!important;
                }
            }
            .mapboxgl-popup-content{
                padding-top: 25px!important;
                border-radius: 15px!important;
                &::before{
                    content: '';
                    position: absolute;
                    top: -40px;
                    width: 60px;
                    height: 60px;
                    left: 50%;
                    transform: translateX(-50%);
                    background: url(../img/iconLocation.png);
                }
                h3{
                    font-size: 25px!important;
                }
                a{
                    &:focus{
                        outline: none;
                    }
                }
                .mapboxgl-popup-close-button{
                    color: red!important;
                    font-size: 25px!important;
                }
            }
        }
    }
}

// FOOTER
#footer{
    .footer_menu{
        margin-top:35px;
        text-align: center;
        ul{
            li{
                display: inline-block;
                margin-left: 15px;
                margin-right: 15px;
                a{
                    position: relative;
                    font-size: 20px;
                    transition: ease-in-out .4s;
                    &::after{
                        background: none repeat scroll 0 0 transparent;
                        bottom: -10;
                        content: "";
                        display: block;
                        height: 3px;
                        left: 50%;
                        position: absolute;
                        background: $turboBlue;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        width: 0;
                    }   
                    &:hover{
                        color: black;
                        &::after{
                            width: 100%; 
                            left: 0; 
                        }
                    }                  
                }
            }
        }   
    }
    .copyright{
        text-align: center;
        p{
            font-size: 18px;
            font-family: $exo;
            span{
                font-weight: 700;
            }
        }
    }
    .socials{
        margin-top: 35px;
        padding-bottom: 25px;
        text-align: center;
        ul{
            li{
                display: inline-block;
                margin-left: 15px;
                margin-right: 15px;
                a{
                    i{
                        font-size: 25px;
                        transform: scale(1);
                        transform: rotate(0deg);
                        transition: ease-in-out .4s;
                    }
                    &.facebook{
                        color: #3b5998;
                    }
                    &.instagram{
                        color: #C13584;
                    }
                    &.twitter{
                        color: #1DA1F2;
                    }
                    &:hover{
                        i{
                            transform: scale(1.4);
                        } 
                    }
                }
            }
        }
    }
}

// LISTE LOCATION FRONT 
#list_location_front{
    min-height: 100vh;
    background: #F0F3F5;
    h2{
        padding-top: 65px;
        padding-bottom: 30px;
        font-size: 50px;
        font-family: $exo;
        position: relative;
        display: inline-block;
        &::after{
            position: absolute;
            content: '';
            bottom: 15px;
            left: 0;
            width: 250px;
            height: 5px;
            background: $turboBlue;
        }
    }
    .content{
        padding-bottom: 200px;
        display: flex;
        justify-content: space-between;
        .card{
            margin-top: 130px;
            max-width: 350px;
            border: white;
            border-radius: 25px;
            .img_container{
                width: 140px;
                height: 100px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                img{
                    width: 100%;
                    position: absolute;
                    top: -80px;
                }
            }
        }
    }
}

// DETAIL LOCATION
#detail_location{
    min-height: 100vh;
    background: #F0F3F5;
    .container{
        padding-top: 150px;
        .content{
            position: relative;
            background: white;
            padding: 30px;
            border-radius: 25px;
            h2{
                margin-bottom: 35px;
            }
            a{
                transition: ease-in-out .4s;
                margin-left: 15px;
                margin-top: 15px;
                &:hover{
                    background: transparent;
                    color: rgba($color: #000000, $alpha: .6);
                }
            }
            .img_content{
                width: 100px;
                height: 100px;
                position: absolute;
                top: -30px;
                right: -65px;
            }
        }
    }
    
}